.textboxes {
  border-radius: 7px;
  margin: 5px;
}

.listContainer {
  display: flex;
  border: solid white 2px;
  border-radius: 7px;
  width: 100%;
  height: 180px;
  margin-top: 50px;
}

.dataInput {
  display: flex;
  justify-content: space-evenly;
}

.object,
.maximumDistance,
.DateRange {
  text-align: center;
  padding: 10px;
}
