.centerContents {
  justify-content: center;
  width: 100%;
}
.userInput {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.latitude,
.longitude,
.distance {
  padding: 20px;
}

.dataDisplay {
  display: flex;
  width: 100%;
  border: solid 2px white;
  height: 100px;
}

.inputField {
  border-radius: 6px;
  width: 250px;
  text-align: center;
  height: auto;
}

.buttonContainer {
  width: 100%;
  padding-bottom: 20px;
}

.searchButton {
  display: flex;
  border-radius: 7px;
  margin: auto;
}

.itemHeaders {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.itemContainer {
  display: flex;
  justify-content: space-evenly;
}
